        </main>

        <footer class="footer">
            <p>Under MIT Licence by <a href="https://github.com/DWS-paris?tab=repositories" target="_blank">Julien Noyer</a></p>
        </footer>
    </body>
</html>